.p {
    color: blue;
}

#headerSimple {
    font-weight: bold;
    text-align: center;
    padding-left: 650px;
}

#headerContact {
    text-align: center;
    padding-left: 650px;
}

#link {
    
}



.firstBoard {
    background-color: white;
    height: 470px;
}

.firstBoard a {
    position: relative;
    font-size: 64px;
    gap: 10px;
    
}

.crumbs ul {
  list-style-type: none;
  padding-left: 0;
}

.crumb {
  display: inline-block;
}

.crumb a {
  position: relative;
}


#FirstBoardText {
    width: 605px;
    height: 96px;
    font-size: 16px;
    font-weight: lighter;
    margin-left: 800px;
    margin-top: -60px;
}

.bottomBoardText {
    margin-left: 20px;
    margin-top: 173px;
}

.greenBoard {
    height: 137px;
    background-color: greenyellow;
}

#kickstart {
    text-align: center;
    font-size: 64px;
    font-weight: bolder;
    padding-top: 32px;
}