.p {
    color: blue;
}

#headerSimple {
    font-weight: bold;
    text-align: center;
    padding-left: 600px;
}

#headerContact {
    text-align: center;
    padding-left: 550px;
}

#link {
    
}



.firstBoard {
    background-color: white;
    height: 470px;
}

.firstBoard a {
    position: relative;
    font-size: 64px;
    gap: 10px;
    
}

.crumbs ul {
  list-style-type: none;
  padding-left: 0;
  font-size: 24px;
}

.crumb {
  display: inline-block;
}

.crumb a {
  position: relative;
}


#FirstBoardText {
    width: 605px;
    height: 96px;
    font-size: 16px;
    font-weight: lighter;
    margin-left: 800px;
    margin-top: -60px;
}

.bottomBoardText {
    margin-left: 20px;
    margin-top: 173px;
}

.greenBoard {
    height: 137px;
    background-color: greenyellow;
}

#kickstart {
    text-align: center;
    font-size: 64px;
    font-weight: bolder;
    padding-top: 32px;
}

.blackBoard {
    background-color: black;
    height: 600px;
}

.headerBlackBoard {
    padding-top: 250px;
    text-align: center;
    color: white;
}

.headerBlackBoard h2 {
    font-weight: 500;
}
.headerBlackBoard p {
    font-weight: bold;
    font-size: 48px;
}

.textwhiteIDk {
    height: 264px;
    font-size: 64px;
    font-weight: 300;
}


.whiteSecondBlock {
    height: 852px;
    background-color: white;
}
.whiteSecondBlock p {
    font-size: 48px;
    margin-left: 173px;    
}

.dskjafhsjkvh {
    font-size: 32px;
    margin-left: 173px;
}

.littletextofoutside {
    font-size: 16px;
    gap: 2px;
}